<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Book Finder</title>
  <%= stylesheet_link_tag    "foundation"%>
  <%= stylesheet_link_tag    "bookIt"%>
  <%= javascript_include_tag "jquery1" %>

    <script>

	  	function FirstFloor () {
			window.location.replace('1.html');
	  	}
	  	function SecondFloor () {
			window.location.replace('2.html');
	  	}
	  	function ThirdFloor () {
			window.location.replace('3.html');
	  	}
	  	function FourthFloor () {
			window.location.replace('4.html');
	  	}
	  	function FifthFloor () {
			window.location.replace('5.html');
	  	}
	  	function SixthFloor () {
			window.location.replace('6.html');
	  	}
	  	function SeventhFloor () {
			window.location.replace('7.html');
	  	}
	  	function EigthFloor () {
			window.location.replace('8.html');
	  	}
	  	function NinthFloor () {
			window.location.replace('9.html');
	  	}


  </script>	
  
  <script>
  
  $(document).ready( function() {
    $("#load_table").on("click", function() { 
    	alert('tester');
        $("#table_loader").load("table_test2.html");
    });
});
  </script>

</head>
<body>

	<div class="row">
		<div class="large-12 columns">
			<div class="nyu-logo-img">
				<%= image_tag "NYU_logo.png"%>
			</div>
			<h2 >NYU Bookfind</h2>
			<p>This is version .1</p>
			
			<hr />
		</div>
	</div>

	<div class="row">
		<div class="large-8 columns">
			<h3>Fourth Floor</h3>
			


			<!-- Grid Example -->
			<div class="row">
				<div class="large-12 columns">
					<div class="panel" id="table_loader" style="background:#ffffff;width:600px;height:600px;">
						<table style="width:100%;height:100%;" >
						<tr style="height:25%;">
							<td id="grid1" style="width:20%;padding-left:24px;padding-top:24px;">
								<div style="text-align:center;height:100%;">
	
<!-- DF -> CB  (1->30) CLASS: DFCB -->								
									<div class="DFCB" id="CB" style="width:6.25%;height:100%;float:left;">
										CB
									</div>
									<div class="DFCB" id="CC" style="width:6.25%;height:100%;float:left;">
										CC
									</div>
									<div class="DFCB" id="CD" style="width:6.25%;height:100%;float:left;">
										CD
									</div>
									<div class="DFCB" id="CE" style="width:6.25%;height:100%;float:left;">
										CE
									</div>
									<div class="DFCB" id="CF" style="width:6.25%;height:100%;float:left;">
										CF
									</div>
									<div class="DFCB" id="CG"  style="width:6.25%;height:100%;float:left;">
										CG
									</div>
									<div class="DFCB" id="CH" style="width:6.25%;height:100%;float:left;">
										CH
									</div>
									<div class="DFCB" id="CI" style="width:6.25%;height:100%;float:left;">
										CI
									</div>
									<div class="DFCB" id="CJ" style="width:6.25%;height:100%;float:left;">
										9
									</div>
									<div class="DFCB" id="CK"  style="width:6.25%;height:100%;float:left;">
										10
									</div>
									<div class="DFCB" id="CL" style="width:6.25%;height:100%;float:left;">
										11
									</div>
									<div class="DFCB" id="CM" style="width:6.25%;height:100%;float:left;">
										12
									</div>
									<div class="DFCB" id="CN" style="width:6.25%;height:100%;float:left;">
										13
									</div>
									<div class="DFCB" id="CO" style="width:6.25%;height:100%;float:left;">
										
									</div>
									<div class="DFCB" id="CP" style="width:6.25%;height:100%;float:left;">
										
									</div>

								</div>
								
							</td>
							<td id="grid1" style="width:60%;padding-top:24px;">
								<div style="text-align:center;height:100%;">
									<div class="DFCB" id="CQ" style="width:2.5%;height:100%;float:left;">
										16
									</div>
									<div class="DFCB" id="CR" style="width:2.5%;height:100%;float:left;">
										17
									</div>
									<div class="DFCB" id="CS" style="width:2.5%;height:100%;float:left;">
										18
									</div>
									<div class="DFCB" id="CT" style="width:2.5%;height:100%;float:left;">
										19
									</div>
									<div class="DFCB" id="CU" style="width:2.5%;height:100%;float:left;">
										20
									</div>
									<div class="DFCB" id="CV" style="width:2.5%;height:100%;float:left;">
										21
									</div>
									<div class="DFCB" id="CW" style="width:2.5%;height:100%;float:left;">
										22
									</div>
									<div class="DFCB" id="CX" style="width:2.5%;height:100%;float:left;">
										23
									</div>
									<div class="DFCB" id="CY"  style="width:2.5%;height:100%;float:left;">
										24
									</div>
									<div class="DFCB" id="CZ" style="width:2.5%;height:100%;float:left;">
										25
									</div>
									<div class="DFCB" id="D" style="width:2.5%;height:100%;float:left;">
										D
									</div>
									<div class="DFCB" id="DB" style="width:2.5%;height:100%;float:left;">
										27
									</div>
									<div class="DFCB" id="DC" style="width:2.5%;height:100%;float:left;">
										28
									</div>
									<div class="DFCB" id="DE" style="width:2.5%;height:100%;float:left;">
										29
									</div>
									<div class="DFCB" id="DF" style="width:2.5%;height:100%;float:left;">
										
									</div>
									
									<div id="space" style="width:10%;height:100%;float:left;">
											
									</div>
									<div id="space" style="width:10%;height:100%;float:left;">
										
									</div>
									
<!-- CB -> BF (1->20) CLASS: CBBF-->									
									<div class="CBBF" id="BF" style="width:5%;height:100%;float:left;">
										BF
									</div>
									<div class="CBBF" id="BG" style="width:5%;height:100%;float:left;">
										BG
									</div>
									<div class="CBBF" id="BH" style="width:5%;height:100%;float:left;">
										BH
									</div>
									<div class="CBBF" id="BI" style="width:5%;height:100%;float:left;">
										BI
									</div>
									<div class="CBBF" id="BJ" style="width:5%;height:100%;float:left;">
										5
									</div>
									<div class="CBBF" id="BK" style="width:5%;height:100%;float:left;">
										6
									</div>
									<div class="CBBF" id="BL" style="width:5%;height:100%;float:left;">
										7
									</div>
									<div class="CBBF" id="BM" style="width:5%;height:100%;float:left;">
										8
									</div>
									
									
								</div>
								
							</td>
							<td id="grid1" style="width:20%;padding-top:24px;padding-right:24px;">
								<div style="text-align:center;height:100%;">
									<div class="CBBF" id="BN" style="width:6.25%;height:100%;float:left;">
										9
									</div>
									<div class="CBBF" id="BO" style="width:6.25%;height:100%;float:left;">
										10
									</div>
									<div class="CBBF" id="BP" style="width:6.25%;height:100%;float:left;">
										11
									</div>
									<div class="CBBF" id="BQ" style="width:6.25%;height:100%;float:left;">
										12
									</div>
									<div class="CBBF" id="BR" style="width:6.25%;height:100%;float:left;">
										13
									</div>
									<div class="CBBF" id="BS" style="width:6.25%;height:100%;float:left;">
										14
									</div>
									<div class="CBBF" id="BT" style="width:6.25%;height:100%;float:left;">
										15
									</div>
									<div class="CBBF" id="BU" style="width:6.25%;height:100%;float:left;">
										16
									</div>
									<div class="CBBF" id="BV" style="width:6.25%;height:100%;float:left;">
										17
									</div>
									<div class="CBBF" id="BW" style="width:6.25%;height:100%;float:left;">
										18
									</div>
									<div class="CBBF" id="BX" style="width:6.25%;height:100%;float:left;">
										19
									</div>
									<div class="CBBF" id="BY" style="width:6.25%;height:100%;float:left;">
										20
									</div>
									<div class="CBBF" id="BZ" style="width:6.25%;height:100%;float:left;">
										21
									</div>
									<div class="CBBF" id="C" style="width:6.25%;height:100%;float:left;">
										C
									</div>
									<div class="CBBF" id="CB" style="width:6.25%;height:100%;float:left;">
										
									</div>
								</div>
								
							</td>
						</tr>
						<tr>
							<td id="grid1" style="width:20%; padding-top:48px;padding-left:24px;padding-right:24px;">
								<div style="text-align:center;height:100%;">
									<div id="space" style="width:100%;height:50%;float:left;">
										&nbsp;
									</div>
									
<!-- DF -> DJ  (1-2)  CLASS DFDJ -->										
									<div class="DFDJ" id="DF" style="width:100%;height:25%;float:left;">
										DF->DJ
									</div>
									<div class="DFDJ" id="DG" style="width:100%;height:25%;float:left;">
										2
									</div>
								</div>
							</td>
							<td id="grid1" style="width:60%;border:none;">
								<div "floor_number">
									Fifth Floor
								</div>
								<div id="stairs_right">
									<%= image_tag "stairs_right.png" %>
								</div>
								
								<div id="elevators" style="">
									<img style="margin-left:-52%;" src="images/elevator.png" width="6%" />
									
									<img style="margin-left:20%;" src="images/elevator.png" width="6%" />
								</div>
								
								<div id="stairs_left">
									<%= image_tag "stairs_left.png" %>
								</div>
							</td>
							<td id="grid1" style="width:20%; padding-top:48px;padding-left:24px;padding-right:24px;">
								<div style="text-align:center;background:green;height:100%;">
									<div style="text-align:center;background:green;height:100%;">
									
<!-- BF -> AP (1-16) CLASS BFAP-->									
									<div class="BFAP" id="AP" style="width:100%;height:6.25%;float:left;">
										AP
									</div>
									<div class="BFAP" id="AQ" style="width:100%;height:6.25%;float:left;">
										Aq
									</div>
									<div class="BFAP" id="AR" style="width:100%;height:6.25%;float:left;">
										AR
									</div>
									<div class="BFAP" id="AS" style="width:100%;height:6.25%;float:left;">
										AS
									</div>
									<div class="BFAP" id="AT" style="width:100%;height:6.25%;float:left;">
										AT
									</div>
									<div class="BFAP" id="AU" style="width:100%;height:6.25%;float:left;">
										AU
									</div>
									<div class="BFAP" id="AV" style="width:100%;height:6.25%;float:left;">
										AV
									</div>
									<div class="BFAP" id="AW" style="width:100%;height:6.25%;float:left;">
										AP
									</div>
									<div class="BFAP" id="AX" style="width:100%;height:6.25%;float:left;">
										AX
									</div>
									<div class="BFAP" id="AY" style="width:100%;height:6.25%;float:left;">
										AY
									</div>
									<div class="BFAP" id="AZ" style="width:100%;height:6.25%;float:left;">
										AZ
									</div>
									<div class="BFAP" id="B" style="width:100%;height:6.25%;float:left;">
										B
									</div>
								</div>
								
							</td>
						</tr>
						<tr>
						
<!-- DF -> DJ  (3-4)  -->						
							<td id="grid1" style="width:20%; padding-left:24px;padding-right:24px;">
								<div style="text-align:center;height:100%;">
									<div class="DFDJ" id="DH" style="width:100%;height:25%;float:left;">
										DH
									</div>
									<div class="DFDJ" id="DI" style="width:100%;height:25%;float:left;">
										DI
									</div>
<!-- A -> DJ  OVERSIZE -->									
				
									<div id="ADJOVERSIZE" style="width:100%;height:50%;float:left;border-top:solid #fff 2px;">
										A->DJ (oversize)<br/>1
									</div>
								</div>
								
							</td>
							<td id="grid1" style="text-align:center;font-size:24px;width:60%;border:none;">
								Atrium
							</td>
							<td id="grid1" style="width:20%; padding-left:24px;padding-right:24px;">
								<div style="text-align:center;height:100%;">
								
<!-- A -> AP  (1-16)  -->								
									<div class="AAP" id="A"  style="width:100%;height:6.25%;float:left;">
										A
									</div>
									<div class="AAP" id="AB"  style="width:100%;height:6.25%;float:left;">
										AB
									</div>
									<div class="AAP" id="AC"  style="width:100%;height:6.25%;float:left;">
										AC
									</div>
									<div class="AAP" id="AD"  style="width:100%;height:6.25%;float:left;">
										AD
									</div>
									<div class="AAP" id="AE" style="width:100%;height:6.25%;float:left;">
										AE
									</div>
									<div class="AAP" id="AF" style="width:100%;height:6.25%;float:left;">
										AF
									</div>
									<div class="AAP" id="AG" style="width:100%;height:6.25%;float:left;">
										AG
									</div>
									<div class="AAP" id="AH" style="width:100%;height:6.25%;float:left;">
										AH
									</div>
									<div class="AAP" id="AI" style="width:100%;height:6.25%;float:left;">
										AI
									</div>
									<div class="AAP" id="AJ" style="width:100%;height:6.25%;float:left;">
										AJ
									</div>
									<div class="AAP" id="AK" style="width:100%;height:6.25%;float:left;">
										AK
									</div>
									<div class="AAP" id="AL" style="width:100%;height:6.25%;float:left;">
										AL
									</div>
									<div class="AAP" id="AM" style="width:100%;height:6.25%;float:left;">
										AM
									</div>
									<div class="AAP" id="AN" style="width:100%;height:6.25%;float:left;">
										AN
									</div>
									<div class="AAP" id="AO" style="width:100%;height:6.25%;float:left;">
										AO
									</div>
									<div class="AAP" id="AP" style="width:100%;height:6.25%;float:left;">
										AP
									</div>
								</div>
								
							</td>
						</tr>
						<tr>
							<td id="grid1" style="width:20%; padding-left:24px;padding-right:24px;padding-bottom:24px;">
								<div style="text-align:center;height:72%;margin-top:-50%;">
									
									
								</div>
								<div style="position:absolute;text-align:left;padding-left:2%;padding-top:2%;">
										<img src="images/bathroom.png" width="12%" />
								</div>

							</td>
							<td id="grid1" style="width:60%;">

							</td>
							<td id="grid1" style="width:20%; padding-left:24px;padding-right:24px;padding-bottom:24px;">
								<div style="text-align:center;height:72%;margin-top:-50%;">
									<div id="space" style="width:100%;height:100%;float:left;">
										&nbsp;
									</div>
									
								</div>
								<div style="position:absolute;text-align:left;padding-left:2%;padding-top:2%;">
										<img src="images/bathroom.png" width="25%" />
								</div>
							</td>
						</tr>
						</table>
					</div>
				</div>
			</div>

		</div>

		<div class="large-4 columns">
			<h4>This is NYU Bookfind</h4>
			<p>Search your book below</p>

			<h4>Search</h4>
			<p>Search by Author, Title, Call#</p>
			
			<h4>Bobst Libary</h4>

			<p id="floorLevel"><a href="#" onclick="FirstFloor();" >First Floor</a></p>
			<p id="floorLevel"><a href="#" onclick="SecondFloor();" >Second Floor</a></p>
			<p id="floorLevel"><a href="#" onclick="ThirdFloor();" >Third Floor</a></p>
			<p id="floorLevel"><a href="#" onclick="FourthFloor();" >Fourth Floor</a></p>
			<p id="floorLevel"><a href="#" onclick="FifthFloor();" >Fifth Floor</a></p>
			<p id="floorLevel"><a href="#" onclick="SixthFloor();" >Sixth Floor</a></p>
			<p id="floorLevel"><a href="#" onclick="SeventhFloor();" >Seventh Floor</a></p>
			<p id="floorLevel"><a href="#" onclick="EigthFloor();" >Eigth Floor</a></p>
			<p id="floorLevel"><a href="#" onclick="NinthFloor();" >Ninth Floor</a></p>
			<p id="floorLevel"><a href="#" id="load_table" >Test Floor</a></p>

		</div>

	</div>
	
  <script>
  	function loadPage() {
     		document.getElementById("<%= @section.name %>").style.backgroundColor = "green";
    }
	window.onload = loadPage();
  </script>

</body>
</html>
